.elementor-837
  .elementor-element.elementor-element-43572425
  > .elementor-container {
  min-height: 50vh;
}
.elementor-837
  .elementor-element.elementor-element-43572425
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-837 .elementor-element.elementor-element-43572425 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 60px 0px 0px 0px;
}
.elementor-837
  .elementor-element.elementor-element-43572425:not(.elementor-motion-effects-element-type-background),
.elementor-837
  .elementor-element.elementor-element-43572425
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-3564bdd);
  background-image: url("../../2021/07/Quality-img-5.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-837
  .elementor-element.elementor-element-43572425
  > .elementor-background-overlay {
  background-image: url("../../2021/07/Overly-img-home.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.28;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-cca2188
  > .elementor-element-populated {
  padding: 0px 320px 0px 340px;
}
.elementor-837
  .elementor-element.elementor-element-6caf9bd6:not(.elementor-motion-effects-element-type-background),
.elementor-837
  .elementor-element.elementor-element-6caf9bd6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
}
.elementor-837 .elementor-element.elementor-element-6caf9bd6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-6caf9bd6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-5c5f9b72
  > .elementor-element-populated {
  border-style: solid;
  border-width: 3px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-837
  .elementor-element.elementor-element-5c5f9b72
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-39511ca8
  .woocommerce-breadcrumb {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-55123aa-font-family), Sans-serif;
  font-size: var(--e-global-typography-55123aa-font-size);
  font-weight: var(--e-global-typography-55123aa-font-weight);
  line-height: var(--e-global-typography-55123aa-line-height);
  letter-spacing: var(--e-global-typography-55123aa-letter-spacing);
  text-align: center;
}
.elementor-837
  .elementor-element.elementor-element-39511ca8
  .woocommerce-breadcrumb
  > a {
  color: var(--e-global-color-primary);
}
.elementor-837
  .elementor-element.elementor-element-39511ca8
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-837 .elementor-element.elementor-element-3b843dea {
  text-align: center;
}
.elementor-837
  .elementor-element.elementor-element-3b843dea
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-ceab1cb-font-family), Sans-serif;
  font-size: var(--e-global-typography-ceab1cb-font-size);
  font-weight: var(--e-global-typography-ceab1cb-font-weight);
  line-height: var(--e-global-typography-ceab1cb-line-height);
  letter-spacing: var(--e-global-typography-ceab1cb-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-3b843dea
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-837 .elementor-element.elementor-element-eae2b7b {
  padding: 90px 0px 90px 0px;
}
.elementor-837
  .elementor-element.elementor-element-daab3b7:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-837
  .elementor-element.elementor-element-daab3b7
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-3564bdd);
}
.elementor-837
  .elementor-element.elementor-element-daab3b7
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  padding: 80px 40px 80px 40px;
}
.elementor-837
  .elementor-element.elementor-element-daab3b7
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-f58559a
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-group {
  padding-right: calc(25px / 2);
  padding-left: calc(25px / 2);
  margin-bottom: 25px;
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-form-fields-wrapper {
  margin-left: calc(-25px / 2);
  margin-right: calc(-25px / 2);
  margin-bottom: -25px;
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-group
  .elementor-field {
  color: var(--e-global-color-secondary);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-group
  .elementor-field,
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-subgroup
  label {
  font-family: var(--e-global-typography-f507de4-font-family), Sans-serif;
  font-size: var(--e-global-typography-f507de4-font-size);
  font-weight: var(--e-global-typography-f507de4-font-weight);
  line-height: var(--e-global-typography-f507de4-line-height);
  letter-spacing: var(--e-global-typography-f507de4-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: var(--e-global-color-accent);
  border-color: var(--e-global-color-3564bdd);
  border-radius: 0px 0px 0px 0px;
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: var(--e-global-color-accent);
  border-color: var(--e-global-color-3564bdd);
  border-radius: 0px 0px 0px 0px;
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: var(--e-global-color-3564bdd);
}
.elementor-837 .elementor-element.elementor-element-86fe6e7 .elementor-button {
  font-family: var(--e-global-typography-262f65f-font-family), Sans-serif;
  font-size: var(--e-global-typography-262f65f-font-size);
  font-weight: var(--e-global-typography-262f65f-font-weight);
  text-transform: var(--e-global-typography-262f65f-text-transform);
  line-height: var(--e-global-typography-262f65f-line-height);
  letter-spacing: var(--e-global-typography-262f65f-letter-spacing);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 0px 0px;
  padding: 17px 52px 17px 52px;
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .e-form__buttons__wrapper__button-next {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-primary);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-button[type="submit"] {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-primary);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-button[type="submit"]
  svg
  * {
  fill: var(--e-global-color-accent);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .e-form__buttons__wrapper__button-previous {
  color: var(--e-global-color-accent);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .e-form__buttons__wrapper__button-next:hover {
  background-color: var(--e-global-color-497193b);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-button[type="submit"]:hover {
  background-color: var(--e-global-color-497193b);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: var(--e-global-color-primary);
}
.elementor-837
  .elementor-element.elementor-element-86fe6e7
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-837 .elementor-element.elementor-element-86fe6e7 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-837
  .elementor-element.elementor-element-a995193:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-837
  .elementor-element.elementor-element-a995193
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-837
  .elementor-element.elementor-element-a995193
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  padding: 80px 40px 80px 40px;
}
.elementor-837
  .elementor-element.elementor-element-a995193
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-39bf0b0
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
}
.elementor-837 .elementor-element.elementor-element-5b20108 {
  text-align: left;
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-1f329d0-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f329d0-font-size);
  font-weight: var(--e-global-typography-1f329d0-font-weight);
  line-height: var(--e-global-typography-1f329d0-line-height);
  letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-5b20108
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-837
  .elementor-element.elementor-element-8e89dfd.elementor-position-right
  .elementor-image-box-img {
  margin-left: 12px;
}
.elementor-837
  .elementor-element.elementor-element-8e89dfd.elementor-position-left
  .elementor-image-box-img {
  margin-right: 12px;
}
.elementor-837
  .elementor-element.elementor-element-8e89dfd.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 12px;
}
.elementor-837
  .elementor-element.elementor-element-8e89dfd
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 20%;
}
.elementor-837
  .elementor-element.elementor-element-8e89dfd
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-8e89dfd
  .elementor-image-box-wrapper {
  text-align: left;
}

.elementor-837
  .elementor-element.elementor-element-8e89dfd
  .elementor-image-box-wrapper img{
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  @-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.elementor-837
  .elementor-element.elementor-element-8e89dfd
  .elementor-image-box-title {
  margin-bottom: 20px;
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-c0d35e7-font-family), Sans-serif;
  font-size: var(--e-global-typography-c0d35e7-font-size);
  font-weight: var(--e-global-typography-c0d35e7-font-weight);
  line-height: var(--e-global-typography-c0d35e7-line-height);
  letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-8e89dfd
  .elementor-image-box-description {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-1f329d0-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f329d0-font-size);
  font-weight: var(--e-global-typography-1f329d0-font-weight);
  line-height: var(--e-global-typography-1f329d0-line-height);
  letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-8e89dfd
  > .elementor-widget-container {
  padding: 0px 0px 10px 0px;
}
.elementor-837
  .elementor-element.elementor-element-850d0bf.elementor-position-right
  .elementor-image-box-img {
  margin-left: 12px;
}
.elementor-837
  .elementor-element.elementor-element-850d0bf.elementor-position-left
  .elementor-image-box-img {
  margin-right: 12px;
}
.elementor-837
  .elementor-element.elementor-element-850d0bf.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 12px;
}
.elementor-837
  .elementor-element.elementor-element-850d0bf
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 20%;
}
.elementor-837
  .elementor-element.elementor-element-850d0bf
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-850d0bf
  .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-837
  .elementor-element.elementor-element-850d0bf
  .elementor-image-box-title {
  margin-bottom: 20px;
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-c0d35e7-font-family), Sans-serif;
  font-size: var(--e-global-typography-c0d35e7-font-size);
  font-weight: var(--e-global-typography-c0d35e7-font-weight);
  line-height: var(--e-global-typography-c0d35e7-line-height);
  letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-850d0bf
  .elementor-image-box-description {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-1f329d0-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f329d0-font-size);
  font-weight: var(--e-global-typography-1f329d0-font-weight);
  line-height: var(--e-global-typography-1f329d0-line-height);
  letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-850d0bf
  > .elementor-widget-container {
  padding: 0px 0px 10px 0px;
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a.elementor-position-right
  .elementor-image-box-img {
  margin-left: 12px;
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a.elementor-position-left
  .elementor-image-box-img {
  margin-right: 12px;
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 12px;
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 20%;
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a
  .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a
  .elementor-image-box-title {
  margin-bottom: 20px;
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-c0d35e7-font-family), Sans-serif;
  font-size: var(--e-global-typography-c0d35e7-font-size);
  font-weight: var(--e-global-typography-c0d35e7-font-weight);
  line-height: var(--e-global-typography-c0d35e7-line-height);
  letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a
  .elementor-image-box-description {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-1f329d0-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f329d0-font-size);
  font-weight: var(--e-global-typography-1f329d0-font-weight);
  line-height: var(--e-global-typography-1f329d0-line-height);
  letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
}
.elementor-837
  .elementor-element.elementor-element-7fcc08a
  > .elementor-widget-container {
  padding: 0px 0px 10px 0px;
}
.elementor-837 .elementor-element.elementor-element-32b0382 iframe {
  height: 600px;
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-837 .elementor-element.elementor-element-daab3b7 {
    width: 65%;
  }
  .elementor-837 .elementor-element.elementor-element-a995193 {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .elementor-837
    .elementor-element.elementor-element-43572425:not(.elementor-motion-effects-element-type-background),
  .elementor-837
    .elementor-element.elementor-element-43572425
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50% auto;
  }
  .elementor-837
    .elementor-element.elementor-element-43572425
    > .elementor-background-overlay {
    background-size: 3% auto;
  }
  .elementor-837
    .elementor-element.elementor-element-cca2188
    > .elementor-element-populated {
    padding: 0px 100px 0px 100px;
  }
  .elementor-837
    .elementor-element.elementor-element-39511ca8
    .woocommerce-breadcrumb {
    font-size: var(--e-global-typography-55123aa-font-size);
    line-height: var(--e-global-typography-55123aa-line-height);
    letter-spacing: var(--e-global-typography-55123aa-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-3b843dea
    .elementor-heading-title {
    font-size: var(--e-global-typography-ceab1cb-font-size);
    line-height: var(--e-global-typography-ceab1cb-line-height);
    letter-spacing: var(--e-global-typography-ceab1cb-letter-spacing);
  }
  .elementor-837 .elementor-element.elementor-element-eae2b7b {
    padding: 80px 0px 80px 0px;
  }
  .elementor-837
    .elementor-element.elementor-element-86fe6e7
    .elementor-field-group
    .elementor-field,
  .elementor-837
    .elementor-element.elementor-element-86fe6e7
    .elementor-field-subgroup
    label {
    font-size: var(--e-global-typography-f507de4-font-size);
    line-height: var(--e-global-typography-f507de4-line-height);
    letter-spacing: var(--e-global-typography-f507de4-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-86fe6e7
    .elementor-button {
    font-size: var(--e-global-typography-262f65f-font-size);
    line-height: var(--e-global-typography-262f65f-line-height);
    letter-spacing: var(--e-global-typography-262f65f-letter-spacing);
  }
  .elementor-837 .elementor-element.elementor-element-5b20108 {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd.elementor-position-right
    .elementor-image-box-img {
    margin-left: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd.elementor-position-left
    .elementor-image-box-img {
    margin-right: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 26%;
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    .elementor-image-box-title {
    margin-bottom: 15px;
    font-size: var(--e-global-typography-c0d35e7-font-size);
    line-height: var(--e-global-typography-c0d35e7-line-height);
    letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    > .elementor-widget-container {
    padding: 0px 0px 10px 0px;
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf.elementor-position-right
    .elementor-image-box-img {
    margin-left: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf.elementor-position-left
    .elementor-image-box-img {
    margin-right: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 26%;
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    .elementor-image-box-title {
    margin-bottom: 15px;
    font-size: var(--e-global-typography-c0d35e7-font-size);
    line-height: var(--e-global-typography-c0d35e7-line-height);
    letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    > .elementor-widget-container {
    padding: 0px 0px 10px 0px;
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a.elementor-position-right
    .elementor-image-box-img {
    margin-left: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a.elementor-position-left
    .elementor-image-box-img {
    margin-right: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 26%;
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    .elementor-image-box-title {
    margin-bottom: 15px;
    font-size: var(--e-global-typography-c0d35e7-font-size);
    line-height: var(--e-global-typography-c0d35e7-line-height);
    letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    > .elementor-widget-container {
    padding: 0px 0px 10px 0px;
  }
  .elementor-837 .elementor-element.elementor-element-32b0382 iframe {
    height: 300px;
  }
  .elementor-837
    .elementor-element.elementor-element-32b0382
    > .elementor-widget-container {
    padding: 0px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-837
    .elementor-element.elementor-element-43572425
    > .elementor-container {
    min-height: 48vh;
  }
  .elementor-837
    .elementor-element.elementor-element-cca2188
    > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
  }
  .elementor-837
    .elementor-element.elementor-element-5c5f9b72
    > .elementor-element-populated {
    padding: 030px 0px 30px 0px;
  }
  .elementor-837
    .elementor-element.elementor-element-39511ca8
    .woocommerce-breadcrumb {
    font-size: var(--e-global-typography-55123aa-font-size);
    line-height: var(--e-global-typography-55123aa-line-height);
    letter-spacing: var(--e-global-typography-55123aa-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-3b843dea
    .elementor-heading-title {
    font-size: var(--e-global-typography-ceab1cb-font-size);
    line-height: var(--e-global-typography-ceab1cb-line-height);
    letter-spacing: var(--e-global-typography-ceab1cb-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-86fe6e7
    .elementor-field-group
    .elementor-field,
  .elementor-837
    .elementor-element.elementor-element-86fe6e7
    .elementor-field-subgroup
    label {
    font-size: var(--e-global-typography-f507de4-font-size);
    line-height: var(--e-global-typography-f507de4-line-height);
    letter-spacing: var(--e-global-typography-f507de4-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-86fe6e7
    .elementor-button {
    font-size: var(--e-global-typography-262f65f-font-size);
    line-height: var(--e-global-typography-262f65f-line-height);
    letter-spacing: var(--e-global-typography-262f65f-letter-spacing);
  }
  .elementor-837 .elementor-element.elementor-element-39bf0b0 {
    text-align: center;
  }
  .elementor-837 .elementor-element.elementor-element-5b20108 {
    text-align: center;
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    .elementor-image-box-wrapper {
    text-align: center;
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    .elementor-image-box-title {
    margin-bottom: 15px;
    font-size: var(--e-global-typography-c0d35e7-font-size);
    line-height: var(--e-global-typography-c0d35e7-line-height);
    letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-8e89dfd
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    .elementor-image-box-wrapper {
    text-align: center;
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    .elementor-image-box-title {
    margin-bottom: 15px;
    font-size: var(--e-global-typography-c0d35e7-font-size);
    line-height: var(--e-global-typography-c0d35e7-line-height);
    letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-850d0bf
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    .elementor-image-box-wrapper {
    text-align: center;
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    .elementor-image-box-title {
    margin-bottom: 15px;
    font-size: var(--e-global-typography-c0d35e7-font-size);
    line-height: var(--e-global-typography-c0d35e7-line-height);
    letter-spacing: var(--e-global-typography-c0d35e7-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-837
    .elementor-element.elementor-element-7fcc08a
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
  }
}
