.elementor-961 .elementor-element.elementor-element-29fd222f>.elementor-container {
	min-height: 50vh;
}

.elementor-961 .elementor-element.elementor-element-29fd222f>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-961 .elementor-element.elementor-element-29fd222f {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 60px 0px 0px 0px;
}

.elementor-961 .elementor-element.elementor-element-29fd222f:not(.elementor-motion-effects-element-type-background),
.elementor-961 .elementor-element.elementor-element-29fd222f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var( --e-global-color-3564bdd);
	background-image: url("../../2021/07/Quality-img-5.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: auto;
}

.elementor-961 .elementor-element.elementor-element-29fd222f>.elementor-background-overlay {
	background-image: url("../../2021/07/Overly-img-home.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: auto;
	opacity: 0.05;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-961 .elementor-element.elementor-element-19f1427c>.elementor-element-populated {
	padding: 0px 320px 0px 340px;
}

.elementor-961 .elementor-element.elementor-element-765facfa:not(.elementor-motion-effects-element-type-background),
.elementor-961 .elementor-element.elementor-element-765facfa>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var( --e-global-color-accent);
}

.elementor-961 .elementor-element.elementor-element-765facfa {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-961 .elementor-element.elementor-element-765facfa>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-961 .elementor-element.elementor-element-47a85451>.elementor-element-populated {
	border-style: solid;
	border-width: 3px 0px 0px 0px;
	border-color: var( --e-global-color-primary);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 0px 50px 0px;
}

.elementor-961 .elementor-element.elementor-element-47a85451>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-961 .elementor-element.elementor-element-1690f53c .woocommerce-breadcrumb {
	color: var( --e-global-color-primary);
	font-family: var( --e-global-typography-55123aa-font-family), Sans-serif;
	font-size: var( --e-global-typography-55123aa-font-size);
	font-weight: var( --e-global-typography-55123aa-font-weight);
	line-height: var( --e-global-typography-55123aa-line-height);
	letter-spacing: var( --e-global-typography-55123aa-letter-spacing);
	text-align: center;
}

.elementor-961 .elementor-element.elementor-element-1690f53c .woocommerce-breadcrumb>a {
	color: var( --e-global-color-primary);
}

.elementor-961 .elementor-element.elementor-element-1690f53c>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-961 .elementor-element.elementor-element-2a3ea26c {
	text-align: center;
}

.elementor-961 .elementor-element.elementor-element-2a3ea26c .elementor-heading-title {
	color: var( --e-global-color-secondary);
	font-family: var( --e-global-typography-ceab1cb-font-family), Sans-serif;
	font-size: var( --e-global-typography-ceab1cb-font-size);
	font-weight: var( --e-global-typography-ceab1cb-font-weight);
	line-height: var( --e-global-typography-ceab1cb-line-height);
	letter-spacing: var( --e-global-typography-ceab1cb-letter-spacing);
}

.elementor-961 .elementor-element.elementor-element-2a3ea26c>.elementor-widget-container {
	margin: -26px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-961 .elementor-element.elementor-element-6f1d2f6e {
	padding: 90px 0px 80px 0px;
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products {
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product {
	text-align: center;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-radius: 0px;
	padding: 20px 20px 50px 20px;
	background-color: var( --e-global-color-3564bdd);
	border-color: var( --e-global-color-3564bdd);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products .attachment-woocommerce_thumbnail {
	margin-bottom: 0px;
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .woocommerce-loop-product__title {
	color: var( --e-global-color-secondary);
	margin-bottom: 15px;
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .woocommerce-loop-category__title {
	color: var( --e-global-color-secondary);
	margin-bottom: 15px;
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .woocommerce-loop-product__title,
.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .woocommerce-loop-category__title {
	font-family: var( --e-global-typography-601a310-font-family), Sans-serif;
	font-size: var( --e-global-typography-601a310-font-size);
	font-weight: var( --e-global-typography-601a310-font-weight);
	line-height: var( --e-global-typography-601a310-line-height);
	letter-spacing: var( --e-global-typography-601a310-letter-spacing);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .star-rating {
	color: var( --e-global-color-310c18b);
	font-size: 0.7em;
	margin-bottom: 15px;
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .star-rating::before {
	color: var( --e-global-color-c44ac5d);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .price {
	font-family: var( --e-global-typography-1f73e89-font-family), Sans-serif;
	font-size: var( --e-global-typography-1f73e89-font-size);
	font-weight: var( --e-global-typography-1f73e89-font-weight);
	line-height: var( --e-global-typography-1f73e89-line-height);
	letter-spacing: var( --e-global-typography-1f73e89-letter-spacing);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .price del {
	color: var( --e-global-color-text);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .price del .amount {
	color: var( --e-global-color-text);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .price del {
	font-family: var( --e-global-typography-06915f4-font-family), Sans-serif;
	font-size: var( --e-global-typography-06915f4-font-size);
	font-weight: var( --e-global-typography-06915f4-font-weight);
	line-height: var( --e-global-typography-06915f4-line-height);
	letter-spacing: var( --e-global-typography-06915f4-letter-spacing);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .button {
	color: var( --e-global-color-accent);
	background-color: var( --e-global-color-text);
	border-color: var( --e-global-color-text);
	font-family: var( --e-global-typography-f6b9237-font-family), Sans-serif;
	font-size: var( --e-global-typography-f6b9237-font-size);
	font-weight: var( --e-global-typography-f6b9237-font-weight);
	text-transform: var( --e-global-typography-f6b9237-text-transform);
	line-height: var( --e-global-typography-f6b9237-line-height);
	letter-spacing: var( --e-global-typography-f6b9237-letter-spacing);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-radius: 0px 0px 0px 0px;
	padding: 5px 18px 5px 18px;
	margin-top: 20px;
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .button:hover {
	color: var( --e-global-color-accent);
	background-color: var( --e-global-color-primary);
	border-color: var( --e-global-color-primary);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products .added_to_cart {
	color: var( --e-global-color-secondary);
	font-family: var( --e-global-typography-f1d2b32-font-family), Sans-serif;
	font-size: var( --e-global-typography-f1d2b32-font-size);
	font-weight: var( --e-global-typography-f1d2b32-font-weight);
	line-height: var( --e-global-typography-f1d2b32-line-height);
	letter-spacing: var( --e-global-typography-f1d2b32-letter-spacing);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product:hover {
	border-color: var( --e-global-color-primary);
}

.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product span.onsale {
	display: block;
	color: var( --e-global-color-accent);
	background-color: var( --e-global-color-bb58bf8);
	font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
	border-radius: 0px;
	min-width: 59px;
	min-height: 34px;
	line-height: 34px;
	right: auto;
	left: 0;
	margin: -20px;
}

.elementor-961 .elementor-element.elementor-element-42feaab1>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
	.elementor-961 .elementor-element.elementor-element-19f1427c>.elementor-element-populated {
		padding: 0px 100px 0px 100px;
	}
	.elementor-961 .elementor-element.elementor-element-1690f53c .woocommerce-breadcrumb {
		font-size: var( --e-global-typography-55123aa-font-size);
		line-height: var( --e-global-typography-55123aa-line-height);
		letter-spacing: var( --e-global-typography-55123aa-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-2a3ea26c .elementor-heading-title {
		font-size: var( --e-global-typography-ceab1cb-font-size);
		line-height: var( --e-global-typography-ceab1cb-line-height);
		letter-spacing: var( --e-global-typography-ceab1cb-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-6f1d2f6e {
		padding: 80px 20px 0px 20px;
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products {
		grid-column-gap: 20px;
		grid-row-gap: 40px;
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .woocommerce-loop-product__title,
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .woocommerce-loop-category__title {
		font-size: var( --e-global-typography-601a310-font-size);
		line-height: var( --e-global-typography-601a310-line-height);
		letter-spacing: var( --e-global-typography-601a310-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .price {
		font-size: var( --e-global-typography-1f73e89-font-size);
		line-height: var( --e-global-typography-1f73e89-line-height);
		letter-spacing: var( --e-global-typography-1f73e89-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .price del {
		font-size: var( --e-global-typography-06915f4-font-size);
		line-height: var( --e-global-typography-06915f4-line-height);
		letter-spacing: var( --e-global-typography-06915f4-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .button {
		font-size: var( --e-global-typography-f6b9237-font-size);
		line-height: var( --e-global-typography-f6b9237-line-height);
		letter-spacing: var( --e-global-typography-f6b9237-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products .added_to_cart {
		font-size: var( --e-global-typography-f1d2b32-font-size);
		line-height: var( --e-global-typography-f1d2b32-line-height);
		letter-spacing: var( --e-global-typography-f1d2b32-letter-spacing);
	}
}

@media(max-width:767px) {
	.elementor-961 .elementor-element.elementor-element-29fd222f>.elementor-container {
		min-height: 50vh;
	}
	.elementor-961 .elementor-element.elementor-element-29fd222f:not(.elementor-motion-effects-element-type-background),
	.elementor-961 .elementor-element.elementor-element-29fd222f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: top center;
		background-repeat: no-repeat;
		background-size: auto;
	}
	.elementor-961 .elementor-element.elementor-element-29fd222f>.elementor-background-overlay {
		background-position: top left;
		background-repeat: no-repeat;
		background-size: 40% auto;
	}
	.elementor-961 .elementor-element.elementor-element-19f1427c>.elementor-element-populated {
		padding: 0px 10px 0px 10px;
	}
	.elementor-961 .elementor-element.elementor-element-47a85451>.elementor-element-populated {
		padding: 030px 0px 30px 0px;
	}
	.elementor-961 .elementor-element.elementor-element-1690f53c .woocommerce-breadcrumb {
		font-size: var( --e-global-typography-55123aa-font-size);
		line-height: var( --e-global-typography-55123aa-line-height);
		letter-spacing: var( --e-global-typography-55123aa-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-2a3ea26c .elementor-heading-title {
		font-size: var( --e-global-typography-ceab1cb-font-size);
		line-height: var( --e-global-typography-ceab1cb-line-height);
		letter-spacing: var( --e-global-typography-ceab1cb-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-6f1d2f6e {
		padding: 50px 0px 0px 0px;
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products {
		grid-column-gap: 20px;
		grid-row-gap: 40px;
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .woocommerce-loop-product__title,
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .woocommerce-loop-category__title {
		font-size: var( --e-global-typography-601a310-font-size);
		line-height: var( --e-global-typography-601a310-line-height);
		letter-spacing: var( --e-global-typography-601a310-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .price {
		font-size: var( --e-global-typography-1f73e89-font-size);
		line-height: var( --e-global-typography-1f73e89-line-height);
		letter-spacing: var( --e-global-typography-1f73e89-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .price del {
		font-size: var( --e-global-typography-06915f4-font-size);
		line-height: var( --e-global-typography-06915f4-line-height);
		letter-spacing: var( --e-global-typography-06915f4-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products ul.products li.product .button {
		font-size: var( --e-global-typography-f6b9237-font-size);
		line-height: var( --e-global-typography-f6b9237-line-height);
		letter-spacing: var( --e-global-typography-f6b9237-letter-spacing);
	}
	.elementor-961 .elementor-element.elementor-element-42feaab1.elementor-wc-products .added_to_cart {
		font-size: var( --e-global-typography-f1d2b32-font-size);
		line-height: var( --e-global-typography-f1d2b32-line-height);
		letter-spacing: var( --e-global-typography-f1d2b32-letter-spacing);
	}
}