.elementor-kit-10 {
    --e-global-color-primary: #9fcb22;
    --e-global-color-secondary: #252932;
    --e-global-color-text: #14462e;
    --e-global-color-accent: #ffffff;
    --e-global-color-3564bdd: #f5f9fa;
    --e-global-color-bb58bf8: #d9485b;
    --e-global-color-e23be75: #fffc01;
    --e-global-color-dbdc090: #6ea68b;
    --e-global-color-737f73f: #92ddd8;
    --e-global-color-3645dda: #fa9421;
    --e-global-color-497193b: #ffffff00;
    --e-global-color-310c18b: #fccc42;
    --e-global-color-bb18acf: #6c6c6c;
    --e-global-color-8a18bd2: #deecf0;
    --e-global-color-c44ac5d: #bdbdbd;
    --e-global-color-7766354: #e8edef;
    --e-global-color-cc98247: #042918;
    --e-global-color-a8d5a57: #37624d;
    --e-global-typography-primary-font-family: "Barlow";
    --e-global-typography-secondary-font-family: "ITC Flora Std";
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-09726c1-font-family: "Barlow";
    --e-global-typography-09726c1-font-size: 19px;
    --e-global-typography-09726c1-font-weight: 500;
    --e-global-typography-09726c1-line-height: 1.1em;
    --e-global-typography-a37c3c9-font-family: "Barlow";
    --e-global-typography-a37c3c9-font-size: 24px;
    --e-global-typography-a37c3c9-font-weight: 400;
    --e-global-typography-a37c3c9-line-height: 1.5em;
    --e-global-typography-98ea1db-font-family: "ITC Flora Std";
    --e-global-typography-98ea1db-font-size: 25px;
    --e-global-typography-98ea1db-font-weight: 500;
    --e-global-typography-98ea1db-line-height: 1.5em;
    --e-global-typography-56c6164-font-family: "Barlow";
    --e-global-typography-56c6164-font-size: 17px;
    --e-global-typography-56c6164-font-weight: 500;
    --e-global-typography-55643be-font-family: "Barlow";
    --e-global-typography-55643be-font-size: 16px;
    --e-global-typography-17c6c02-font-family: "ITC Flora Std";
    --e-global-typography-17c6c02-font-size: 46px;
    --e-global-typography-17c6c02-font-weight: 500;
    --e-global-typography-17c6c02-line-height: 1.1em;
    --e-global-typography-8ab0c3c-font-family: "Barlow";
    --e-global-typography-8ab0c3c-font-size: 60px;
    --e-global-typography-8ab0c3c-font-weight: 500;
    --e-global-typography-8ab0c3c-line-height: 1.1em;
    --e-global-typography-f14ab1d-font-family: "Barlow";
    --e-global-typography-f14ab1d-font-size: 26px;
    --e-global-typography-f14ab1d-font-weight: 600;
    --e-global-typography-f14ab1d-line-height: 1.1em;
    --e-global-typography-1f329d0-font-family: "Barlow";
    --e-global-typography-1f329d0-font-size: 20px;
    --e-global-typography-1f329d0-font-weight: 400;
    --e-global-typography-1f329d0-line-height: 1.5em;
    --e-global-typography-82b4489-font-family: "Barlow";
    --e-global-typography-82b4489-font-size: 22px;
    --e-global-typography-82b4489-font-weight: 500;
    --e-global-typography-82b4489-line-height: 1.1em;
    --e-global-typography-64b331e-font-family: "Barlow";
    --e-global-typography-64b331e-font-size: 22px;
    --e-global-typography-64b331e-font-weight: 500;
    --e-global-typography-64b331e-line-height: 1.1em;
    --e-global-typography-81eec07-font-family: "Barlow";
    --e-global-typography-81eec07-font-size: 16px;
    --e-global-typography-81eec07-font-weight: 500;
    --e-global-typography-4bbaf15-font-family: "Barlow";
    --e-global-typography-4bbaf15-font-size: 23px;
    --e-global-typography-4bbaf15-font-weight: 400;
    --e-global-typography-4bbaf15-font-style: italic;
    --e-global-typography-4bbaf15-line-height: 1.5em;
    --e-global-typography-78b4420-font-family: "Barlow";
    --e-global-typography-78b4420-font-size: 18px;
    --e-global-typography-78b4420-line-height: 2.3em;
    --e-global-typography-f8d70a0-font-family: "Barlow";
    --e-global-typography-f8d70a0-font-size: 16px;
    --e-global-typography-f8d70a0-font-weight: 600;
    --e-global-typography-f8d70a0-text-transform: uppercase;
    --e-global-typography-f8d70a0-line-height: 1.5em;
    --e-global-typography-018274b-font-family: "Barlow";
    --e-global-typography-018274b-font-size: 18px;
    --e-global-typography-018274b-font-weight: 300;
    --e-global-typography-018274b-line-height: 1.1em;
    --e-global-typography-6568fcc-font-family: "Barlow";
    --e-global-typography-6568fcc-font-size: 18px;
    --e-global-typography-6568fcc-font-weight: 400;
    --e-global-typography-6568fcc-line-height: 1.5em;
    --e-global-typography-55123aa-font-family: "ITC Flora Std";
    --e-global-typography-55123aa-font-size: 18px;
    --e-global-typography-55123aa-font-weight: 500;
    --e-global-typography-55123aa-line-height: 1.1em;
    --e-global-typography-ceab1cb-font-family: "ITC Flora Std";
    --e-global-typography-ceab1cb-font-size: 60px;
    --e-global-typography-ceab1cb-font-weight: 600;
    --e-global-typography-ceab1cb-line-height: 1.1em;
    --e-global-typography-262f65f-font-family: "Barlow";
    --e-global-typography-262f65f-font-size: 14px;
    --e-global-typography-262f65f-font-weight: 600;
    --e-global-typography-262f65f-text-transform: uppercase;
    --e-global-typography-262f65f-line-height: 1.1em;
    --e-global-typography-6c754af-font-family: "Barlow";
    --e-global-typography-6c754af-font-size: 24px;
    --e-global-typography-6c754af-font-weight: 600;
    --e-global-typography-87e9451-font-family: "Barlow";
    --e-global-typography-87e9451-font-size: 22px;
    --e-global-typography-87e9451-font-weight: 500;
    --e-global-typography-87e9451-line-height: 1.1em;
    --e-global-typography-a9ecbd0-font-family: "Barlow";
    --e-global-typography-a9ecbd0-font-size: 45px;
    --e-global-typography-a9ecbd0-font-weight: 600;
    --e-global-typography-a9ecbd0-line-height: 1.1em;
    --e-global-typography-bc57340-font-family: "Barlow";
    --e-global-typography-bc57340-font-size: 30px;
    --e-global-typography-bc57340-font-weight: 300;
    --e-global-typography-bd10083-font-family: "Barlow";
    --e-global-typography-bd10083-font-size: 40px;
    --e-global-typography-bd10083-font-weight: 600;
    --e-global-typography-439e35c-font-family: "Barlow";
    --e-global-typography-439e35c-font-size: 20px;
    --e-global-typography-439e35c-font-weight: 300;
    --e-global-typography-439e35c-line-height: 1.5em;
    --e-global-typography-7404157-font-family: "ITC Flora Std";
    --e-global-typography-7404157-font-size: 38px;
    --e-global-typography-7404157-font-weight: 600;
    --e-global-typography-7404157-line-height: 1.1em;
    --e-global-typography-f507de4-font-family: "Barlow";
    --e-global-typography-f507de4-font-size: 18px;
    --e-global-typography-f507de4-font-weight: 300;
    --e-global-typography-c0d35e7-font-family: "Barlow";
    --e-global-typography-c0d35e7-font-size: 24px;
    --e-global-typography-c0d35e7-font-weight: 400;
    --e-global-typography-c0d35e7-line-height: 0.1em;
    --e-global-typography-b34b1e9-font-family: "Barlow";
    --e-global-typography-b34b1e9-font-size: 200px;
    --e-global-typography-b34b1e9-font-weight: 600;
    --e-global-typography-b34b1e9-line-height: 1.1em;
    --e-global-typography-e51a33a-font-family: "Barlow";
    --e-global-typography-e51a33a-font-size: 20px;
    --e-global-typography-e51a33a-font-weight: 300;
    --e-global-typography-e51a33a-line-height: 1.5em;
    --e-global-typography-e4a8fee-font-family: "Barlow";
    --e-global-typography-e4a8fee-font-size: 24px;
    --e-global-typography-e4a8fee-font-weight: 600;
    --e-global-typography-e4a8fee-line-height: 1.1em;
    --e-global-typography-135ce33-font-family: "Barlow";
    --e-global-typography-135ce33-font-size: 14px;
    --e-global-typography-135ce33-font-weight: 600;
    --e-global-typography-fbd2431-font-family: "Barlow";
    --e-global-typography-fbd2431-font-size: 24px;
    --e-global-typography-fbd2431-font-weight: 600;
    --e-global-typography-fbd2431-line-height: 1.5em;
    --e-global-typography-169cbe5-font-family: "Barlow";
    --e-global-typography-169cbe5-font-size: 16px;
    --e-global-typography-169cbe5-font-weight: 300;
    --e-global-typography-77c8f53-font-family: "Barlow";
    --e-global-typography-77c8f53-font-size: 20px;
    --e-global-typography-77c8f53-font-weight: 300;
    --e-global-typography-77c8f53-line-height: 1.5em;
    --e-global-typography-f1d2b32-font-family: "Barlow";
    --e-global-typography-f1d2b32-font-size: 14px;
    --e-global-typography-f1d2b32-font-weight: 600;
    --e-global-typography-f1d2b32-line-height: 1.1em;
    --e-global-typography-ff7f5f9-font-family: "Barlow";
    --e-global-typography-ff7f5f9-font-size: 18px;
    --e-global-typography-ff7f5f9-font-weight: 300;
    --e-global-typography-ff7f5f9-line-height: 1.1em;
    --e-global-typography-95214e6-font-family: "Barlow";
    --e-global-typography-95214e6-font-size: 18px;
    --e-global-typography-95214e6-font-weight: 300;
    --e-global-typography-95214e6-line-height: 1.1em;
    --e-global-typography-601a310-font-family: "Barlow";
    --e-global-typography-601a310-font-size: 26px;
    --e-global-typography-601a310-font-weight: 600;
    --e-global-typography-601a310-line-height: 1.1em;
    --e-global-typography-1f73e89-font-family: "Barlow";
    --e-global-typography-1f73e89-font-size: 23px;
    --e-global-typography-1f73e89-font-weight: 600;
    --e-global-typography-1f73e89-line-height: 1.1em;
    --e-global-typography-06915f4-font-family: "Barlow";
    --e-global-typography-06915f4-font-size: 23px;
    --e-global-typography-06915f4-font-weight: 400;
    --e-global-typography-f6b9237-font-family: "Barlow";
    --e-global-typography-f6b9237-font-size: 14px;
    --e-global-typography-f6b9237-font-weight: 600;
    --e-global-typography-f6b9237-text-transform: uppercase;
    --e-global-typography-d63369e-font-family: "Barlow";
    --e-global-typography-d63369e-font-size: 18px;
    --e-global-typography-d63369e-font-weight: 500;
    --e-global-typography-91a6738-font-family: "Barlow";
    --e-global-typography-91a6738-font-size: 85px;
    --e-global-typography-91a6738-font-weight: 500;
    --e-global-typography-91a6738-line-height: 1.1em;
    --e-global-typography-e5dedcf-font-family: "Barlow";
    --e-global-typography-e5dedcf-font-size: 18px;
    --e-global-typography-e5dedcf-font-weight: 400;
    --e-global-typography-e5dedcf-line-height: 1.5em;
    --e-global-typography-66d1f9e-font-family: "Barlow";
    --e-global-typography-66d1f9e-font-size: 18px;
    --e-global-typography-66d1f9e-font-weight: 400;
    --e-global-typography-66d1f9e-font-style: italic;
    --e-global-typography-66d1f9e-line-height: 1.5em;
    font-family: "ITC Flora Std", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
}
.elementor-723
  .elementor-element.elementor-element-577a25cd
  > .elementor-container {
  min-height: 50vh;
}
.elementor-723
  .elementor-element.elementor-element-577a25cd
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-723 .elementor-element.elementor-element-577a25cd {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 60px 0px 0px 0px;
}
.elementor-723
  .elementor-element.elementor-element-577a25cd:not(.elementor-motion-effects-element-type-background),
.elementor-723
  .elementor-element.elementor-element-577a25cd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-3564bdd);
  background-image: url("../../2021/07/Quality-img-5.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}
.elementor-723
  .elementor-element.elementor-element-577a25cd
  > .elementor-background-overlay {
  background-image: url("../../2021/07/Overly-img-home.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.28;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -moz-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -ms-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -o-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-7239b253
  > .elementor-element-populated {
  padding: 0px 320px 0px 340px;
}
.elementor-723
  .elementor-element.elementor-element-26c12df8:not(.elementor-motion-effects-element-type-background),
.elementor-723
  .elementor-element.elementor-element-26c12df8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
}
.elementor-723 .elementor-element.elementor-element-26c12df8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-26c12df8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-5cac8555
  > .elementor-element-populated {
  border-style: solid;
  border-width: 3px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-723
  .elementor-element.elementor-element-5cac8555
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-6cfa4224
  .woocommerce-breadcrumb {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-55123aa-font-family);
  font-size: var(--e-global-typography-55123aa-font-size);
  font-weight: var(--e-global-typography-55123aa-font-weight);
  line-height: var(--e-global-typography-55123aa-line-height);
  letter-spacing: var(--e-global-typography-55123aa-letter-spacing);
  text-align: center;
}
.elementor-723
  .elementor-element.elementor-element-6cfa4224
  .woocommerce-breadcrumb
  > a {
  color: var(--e-global-color-primary);
}
.elementor-723
  .elementor-element.elementor-element-6cfa4224
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-7da1c486 {
  text-align: center;
}
.elementor-723
  .elementor-element.elementor-element-7da1c486
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-ceab1cb-font-family);
  font-size: var(--e-global-typography-ceab1cb-font-size);
  font-weight: var(--e-global-typography-ceab1cb-font-weight);
  line-height: var(--e-global-typography-ceab1cb-line-height);
  letter-spacing: var(--e-global-typography-ceab1cb-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-7da1c486
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-d5db04c {
  padding: 216px 0px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-4ddfc1c {
  width: 130%;
  max-width: 130%;
  bottom: 0px;
}
body:not(.rtl) .elementor-723 .elementor-element.elementor-element-4ddfc1c {
  right: 0px;
}
body.rtl .elementor-723 .elementor-element.elementor-element-4ddfc1c {
  left: 0px;
}
.elementor-723
  .elementor-element.elementor-element-aee28d7
  > .elementor-element-populated {
  padding: 0px 0px 100px 50px;
}
.elementor-723 .elementor-element.elementor-element-27f6f77 {
  text-align: left;
}
.elementor-723
  .elementor-element.elementor-element-27f6f77
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
}
.elementor-723
  .elementor-element.elementor-element-27f6f77
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-e28ca1c {
  text-align: left;
  color: var(--e-global-color-bb18acf);
  font-family: var(--e-global-typography-439e35c-font-family), Sans-serif;
  font-size: var(--e-global-typography-439e35c-font-size);
  font-weight: var(--e-global-typography-439e35c-font-weight);
  line-height: var(--e-global-typography-439e35c-line-height);
  letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-e28ca1c
  > .elementor-widget-container {
  padding: 0px 40px 0px 0px;
}
.elementor-723
  .elementor-element.elementor-element-558d1eb:not(.elementor-motion-effects-element-type-background),
.elementor-723
  .elementor-element.elementor-element-558d1eb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-3564bdd);
}
.elementor-723 .elementor-element.elementor-element-558d1eb {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 140px 0px 140px 0px;
}
.elementor-723
  .elementor-element.elementor-element-558d1eb
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-4c9d4e9:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-723
  .elementor-element.elementor-element-4c9d4e9
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
}
.elementor-723
  .elementor-element.elementor-element-4c9d4e9
  > .elementor-element-populated {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 15px 0px 0px;
  padding: 50px 35px 50px 50px;
}
.elementor-723
  .elementor-element.elementor-element-4c9d4e9
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-723 .elementor-element.elementor-element-78234cb {
  text-align: left;
  width: auto;
  max-width: auto;
}
.elementor-723
  .elementor-element.elementor-element-78234cb
  > .elementor-widget-container {
  margin: 0px 0px 35px 0px;
}
.elementor-723
  .elementor-element.elementor-element-d276f67
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: 'ITC Flora Std';
  font-size: var(--e-global-typography-7404157-font-size);
  font-weight: var(--e-global-typography-7404157-font-weight);
  line-height: var(--e-global-typography-7404157-line-height);
  letter-spacing: var(--e-global-typography-7404157-letter-spacing);
}
.elementor-723 .elementor-element.elementor-element-c100977 {
  text-align: left;
  color: var(--e-global-color-bb18acf);
  font-family: var(--e-global-typography-439e35c-font-family), Sans-serif;
  font-size: var(--e-global-typography-439e35c-font-size);
  font-weight: var(--e-global-typography-439e35c-font-weight);
  line-height: var(--e-global-typography-439e35c-line-height);
  letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-c100977
  > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
  padding: 0px 40px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-0ac5471 .elementor-button {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-primary);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-primary);
  padding: 18px 45px 18px 45px;
}
.elementor-723
  .elementor-element.elementor-element-0ac5471
  .elementor-button:hover,
.elementor-723
  .elementor-element.elementor-element-0ac5471
  .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: #02010100;
  border-color: var(--e-global-color-primary);
}
.elementor-723
  .elementor-element.elementor-element-0ac5471
  .elementor-button:hover
  svg,
.elementor-723
  .elementor-element.elementor-element-0ac5471
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-723
  .elementor-element.elementor-element-0ac5471
  > .elementor-widget-container {
  margin: 0px 20px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-0ac5471 {
  width: auto;
  max-width: auto;
}
.elementor-723
  .elementor-element.elementor-element-1050207:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-723
  .elementor-element.elementor-element-1050207
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
}
.elementor-723
  .elementor-element.elementor-element-1050207
  > .elementor-element-populated {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 15px;
  padding: 50px 35px 50px 50px;
}
.elementor-723
  .elementor-element.elementor-element-1050207
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-723 .elementor-element.elementor-element-814ac14 {
  text-align: left;
  width: auto;
  max-width: auto;
}
.elementor-723
  .elementor-element.elementor-element-814ac14
  > .elementor-widget-container {
  margin: 0px 0px 35px 0px;
}
.elementor-723
  .elementor-element.elementor-element-8ac0403
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: 'ITC Flora Std';
  font-size: var(--e-global-typography-7404157-font-size);
  font-weight: var(--e-global-typography-7404157-font-weight);
  line-height: var(--e-global-typography-7404157-line-height);
  letter-spacing: var(--e-global-typography-7404157-letter-spacing);
}
.elementor-723 .elementor-element.elementor-element-b84d9d6 {
  text-align: left;
  color: var(--e-global-color-bb18acf);
  font-family: var(--e-global-typography-439e35c-font-family), Sans-serif;
  font-size: var(--e-global-typography-439e35c-font-size);
  font-weight: var(--e-global-typography-439e35c-font-weight);
  line-height: var(--e-global-typography-439e35c-line-height);
  letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-b84d9d6
  > .elementor-widget-container {
  margin: 0px 0px -10px 0px;
  padding: 0px 40px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-ce9ac9f .elementor-button {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-primary);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-primary);
  padding: 18px 45px 18px 45px;
}
.elementor-723
  .elementor-element.elementor-element-ce9ac9f
  .elementor-button:hover,
.elementor-723
  .elementor-element.elementor-element-ce9ac9f
  .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: #02010100;
  border-color: var(--e-global-color-primary);
}
.elementor-723
  .elementor-element.elementor-element-ce9ac9f
  .elementor-button:hover
  svg,
.elementor-723
  .elementor-element.elementor-element-ce9ac9f
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-723
  .elementor-element.elementor-element-ce9ac9f
  > .elementor-widget-container {
  margin: 0px 20px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-ce9ac9f {
  width: auto;
  max-width: auto;
}
.elementor-723 .elementor-element.elementor-element-c61c25c {
  padding: 126px 0px 0px 0px;
}
.elementor-723
  .elementor-element.elementor-element-dc776bb
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-f53a2d4 {
  text-align: center;
}
.elementor-723
  .elementor-element.elementor-element-f53a2d4
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
}
.elementor-723
  .elementor-element.elementor-element-f53a2d4
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
}
.elementor-723 .elementor-element.elementor-element-1c8f363 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-723
  .elementor-element.elementor-element-df146d6.elementor-position-right
  .elementor-image-box-img {
  margin-left: 10px;
}
.elementor-723
  .elementor-element.elementor-element-df146d6.elementor-position-left
  .elementor-image-box-img {
  margin-right: 10px;
}
.elementor-723
  .elementor-element.elementor-element-df146d6.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 10px;
}
.elementor-723
  .elementor-element.elementor-element-df146d6
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-df146d6
  .elementor-image-box-title {
  margin-bottom: 5px;
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-f14ab1d-font-family), Sans-serif;
  font-size: var(--e-global-typography-f14ab1d-font-size);
  font-weight: var(--e-global-typography-f14ab1d-font-weight);
  line-height: var(--e-global-typography-f14ab1d-line-height);
  letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-df146d6
  .elementor-image-box-description {
  color: var(--e-global-color-bb18acf);
  font-family: var(--e-global-typography-1f329d0-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f329d0-font-size);
  font-weight: var(--e-global-typography-1f329d0-font-weight);
  line-height: var(--e-global-typography-1f329d0-line-height);
  letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-df146d6
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
  padding: 0px 25px 0px 25px;
}
.elementor-723
  .elementor-element.elementor-element-11f5c71.elementor-position-right
  .elementor-image-box-img {
  margin-left: 10px;
}
.elementor-723
  .elementor-element.elementor-element-11f5c71.elementor-position-left
  .elementor-image-box-img {
  margin-right: 10px;
}
.elementor-723
  .elementor-element.elementor-element-11f5c71.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 10px;
}
.elementor-723
  .elementor-element.elementor-element-11f5c71
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-11f5c71
  .elementor-image-box-title {
  margin-bottom: 5px;
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-f14ab1d-font-family), Sans-serif;
  font-size: var(--e-global-typography-f14ab1d-font-size);
  font-weight: var(--e-global-typography-f14ab1d-font-weight);
  line-height: var(--e-global-typography-f14ab1d-line-height);
  letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-11f5c71
  .elementor-image-box-description {
  color: var(--e-global-color-bb18acf);
  font-family: var(--e-global-typography-1f329d0-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f329d0-font-size);
  font-weight: var(--e-global-typography-1f329d0-font-weight);
  line-height: var(--e-global-typography-1f329d0-line-height);
  letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-11f5c71
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
  padding: 0px 25px 0px 25px;
}
.elementor-723
  .elementor-element.elementor-element-9cb262d
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-723 .elementor-element.elementor-element-84256aa {
  text-align: center;
  width: 125%;
  max-width: 125%;
  bottom: 4vh;
}
body:not(.rtl) .elementor-723 .elementor-element.elementor-element-84256aa {
  left: -3vw;
}
body.rtl .elementor-723 .elementor-element.elementor-element-84256aa {
  right: -3vw;
}
.elementor-723
  .elementor-element.elementor-element-97a288e.elementor-position-right
  .elementor-image-box-img {
  margin-left: 10px;
}
.elementor-723
  .elementor-element.elementor-element-97a288e.elementor-position-left
  .elementor-image-box-img {
  margin-right: 10px;
}
.elementor-723
  .elementor-element.elementor-element-97a288e.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 10px;
}
.elementor-723
  .elementor-element.elementor-element-97a288e
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-97a288e
  .elementor-image-box-title {
  margin-bottom: 5px;
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-f14ab1d-font-family), Sans-serif;
  font-size: var(--e-global-typography-f14ab1d-font-size);
  font-weight: var(--e-global-typography-f14ab1d-font-weight);
  line-height: var(--e-global-typography-f14ab1d-line-height);
  letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-97a288e
  .elementor-image-box-description {
  color: var(--e-global-color-bb18acf);
  font-family: var(--e-global-typography-1f329d0-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f329d0-font-size);
  font-weight: var(--e-global-typography-1f329d0-font-weight);
  line-height: var(--e-global-typography-1f329d0-line-height);
  letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-97a288e
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
  padding: 0px 25px 0px 25px;
}
.elementor-723
  .elementor-element.elementor-element-8d488d9.elementor-position-right
  .elementor-image-box-img {
  margin-left: 10px;
}
.elementor-723
  .elementor-element.elementor-element-8d488d9.elementor-position-left
  .elementor-image-box-img {
  margin-right: 10px;
}
.elementor-723
  .elementor-element.elementor-element-8d488d9.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 10px;
}
.elementor-723
  .elementor-element.elementor-element-8d488d9
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-723
  .elementor-element.elementor-element-8d488d9
  .elementor-image-box-title {
  margin-bottom: 5px;
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-f14ab1d-font-family), Sans-serif;
  font-size: var(--e-global-typography-f14ab1d-font-size);
  font-weight: var(--e-global-typography-f14ab1d-font-weight);
  line-height: var(--e-global-typography-f14ab1d-line-height);
  letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-8d488d9
  .elementor-image-box-description {
  color: var(--e-global-color-bb18acf);
  font-family: var(--e-global-typography-1f329d0-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f329d0-font-size);
  font-weight: var(--e-global-typography-1f329d0-font-weight);
  line-height: var(--e-global-typography-1f329d0-line-height);
  letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
}
.elementor-723
  .elementor-element.elementor-element-8d488d9
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
  padding: 0px 25px 0px 25px;
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-723 .elementor-element.elementor-element-e6fdeb9 {
    width: 30%;
  }
  .elementor-723 .elementor-element.elementor-element-9cb262d {
    width: 39.333%;
  }
  .elementor-723 .elementor-element.elementor-element-111c1dd {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .elementor-723
    .elementor-element.elementor-element-577a25cd:not(.elementor-motion-effects-element-type-background),
  .elementor-723
    .elementor-element.elementor-element-577a25cd
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50% auto;
  }
  .elementor-723
    .elementor-element.elementor-element-577a25cd
    > .elementor-background-overlay {
    background-size: 3% auto;
  }
  .elementor-723
    .elementor-element.elementor-element-7239b253
    > .elementor-element-populated {
    padding: 0px 100px 0px 100px;
  }
  .elementor-723
    .elementor-element.elementor-element-6cfa4224
    .woocommerce-breadcrumb {
    font-size: var(--e-global-typography-55123aa-font-size);
    line-height: var(--e-global-typography-55123aa-line-height);
    letter-spacing: var(--e-global-typography-55123aa-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-7da1c486
    .elementor-heading-title {
    font-size: var(--e-global-typography-ceab1cb-font-size);
    line-height: var(--e-global-typography-ceab1cb-line-height);
    letter-spacing: var(--e-global-typography-ceab1cb-letter-spacing);
  }
  .elementor-723 .elementor-element.elementor-element-d5db04c {
    padding: 90px 10px 0px 10px;
  }
  .elementor-723 .elementor-element.elementor-element-4ddfc1c {
    width: 130%;
    max-width: 130%;
  }
  .elementor-bc-flex-widget
    .elementor-723
    .elementor-element.elementor-element-aee28d7.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-723
    .elementor-element.elementor-element-aee28d7.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-723
    .elementor-element.elementor-element-aee28d7
    > .elementor-element-populated {
    padding: 0px 0px 30px 30px;
  }
  .elementor-723 .elementor-element.elementor-element-e28ca1c {
    font-size: var(--e-global-typography-439e35c-font-size);
    line-height: var(--e-global-typography-439e35c-line-height);
    letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-e28ca1c
    > .elementor-widget-container {
    padding: 0px 21px 0px 0px;
  }
  .elementor-723 .elementor-element.elementor-element-558d1eb {
    padding: 080px 20px 80px 20px;
  }
  .elementor-723
    .elementor-element.elementor-element-4c9d4e9
    > .elementor-element-populated {
    padding: 30px 20px 30px 30px;
  }
  .elementor-723
    .elementor-element.elementor-element-78234cb
    > .elementor-widget-container {
    margin: 0px 0px 015px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-d276f67
    .elementor-heading-title {
    font-size: var(--e-global-typography-7404157-font-size);
    line-height: var(--e-global-typography-7404157-line-height);
    letter-spacing: var(--e-global-typography-7404157-letter-spacing);
  }
  .elementor-723 .elementor-element.elementor-element-c100977 {
    font-size: var(--e-global-typography-439e35c-font-size);
    line-height: var(--e-global-typography-439e35c-line-height);
    letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-c100977
    > .elementor-widget-container {
    padding: 0px 21px 0px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-0ac5471
    .elementor-button {
    padding: 12px 030px 12px 30px;
  }
  .elementor-723
    .elementor-element.elementor-element-1050207
    > .elementor-element-populated {
    padding: 30px 20px 30px 30px;
  }
  .elementor-723
    .elementor-element.elementor-element-814ac14
    > .elementor-widget-container {
    margin: 0px 0px 15px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-8ac0403
    .elementor-heading-title {
    font-size: var(--e-global-typography-7404157-font-size);
    line-height: var(--e-global-typography-7404157-line-height);
    letter-spacing: var(--e-global-typography-7404157-letter-spacing);
  }
  .elementor-723 .elementor-element.elementor-element-b84d9d6 {
    font-size: var(--e-global-typography-439e35c-font-size);
    line-height: var(--e-global-typography-439e35c-line-height);
    letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-b84d9d6
    > .elementor-widget-container {
    padding: 0px 21px 0px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-ce9ac9f
    .elementor-button {
    padding: 12px 030px 12px 30px;
  }
  .elementor-723 .elementor-element.elementor-element-c61c25c {
    padding: 80px 0px 80px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-df146d6
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 30%;
  }
  .elementor-723
    .elementor-element.elementor-element-df146d6
    .elementor-image-box-title {
    font-size: var(--e-global-typography-f14ab1d-font-size);
    line-height: var(--e-global-typography-f14ab1d-line-height);
    letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-df146d6
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-11f5c71
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 30%;
  }
  .elementor-723
    .elementor-element.elementor-element-11f5c71
    .elementor-image-box-title {
    font-size: var(--e-global-typography-f14ab1d-font-size);
    line-height: var(--e-global-typography-f14ab1d-line-height);
    letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-11f5c71
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-84256aa
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-97a288e
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 30%;
  }
  .elementor-723
    .elementor-element.elementor-element-97a288e
    .elementor-image-box-title {
    font-size: var(--e-global-typography-f14ab1d-font-size);
    line-height: var(--e-global-typography-f14ab1d-line-height);
    letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-97a288e
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-8d488d9
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 30%;
  }
  .elementor-723
    .elementor-element.elementor-element-8d488d9
    .elementor-image-box-title {
    font-size: var(--e-global-typography-f14ab1d-font-size);
    line-height: var(--e-global-typography-f14ab1d-line-height);
    letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-8d488d9
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
}
@media (max-width: 767px) {
  .elementor-723
    .elementor-element.elementor-element-577a25cd
    > .elementor-container {
    min-height: 48vh;
  }
  .elementor-723
    .elementor-element.elementor-element-7239b253
    > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
  }
  .elementor-723
    .elementor-element.elementor-element-5cac8555
    > .elementor-element-populated {
    padding: 030px 0px 30px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-6cfa4224
    .woocommerce-breadcrumb {
    font-size: var(--e-global-typography-55123aa-font-size);
    line-height: var(--e-global-typography-55123aa-line-height);
    letter-spacing: var(--e-global-typography-55123aa-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-7da1c486
    .elementor-heading-title {
    font-size: var(--e-global-typography-ceab1cb-font-size);
    line-height: var(--e-global-typography-ceab1cb-line-height);
    letter-spacing: var(--e-global-typography-ceab1cb-letter-spacing);
  }
  .elementor-723 .elementor-element.elementor-element-d5db04c {
    padding: 50px 0px 50px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-aee28d7
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-723 .elementor-element.elementor-element-27f6f77 {
    text-align: center;
  }
  .elementor-723
    .elementor-element.elementor-element-27f6f77
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-723 .elementor-element.elementor-element-e28ca1c {
    text-align: center;
    font-size: var(--e-global-typography-439e35c-font-size);
    line-height: var(--e-global-typography-439e35c-line-height);
    letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-e28ca1c
    > .elementor-widget-container {
    margin: 0px 0px -17px 0px;
    padding: 0px 20px 0px 20px;
  }
  .elementor-723 .elementor-element.elementor-element-558d1eb {
    padding: 50px 0px 50px 0px;
  }
  .elementor-bc-flex-widget
    .elementor-723
    .elementor-element.elementor-element-4c9d4e9.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-723
    .elementor-element.elementor-element-4c9d4e9.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-723
    .elementor-element.elementor-element-4c9d4e9.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-723
    .elementor-element.elementor-element-4c9d4e9
    > .elementor-element-populated {
    margin: 20px 20px 20px 20px;
    padding: 20px 0px 20px 0px;
  }
  .elementor-723 .elementor-element.elementor-element-d276f67 {
    text-align: center;
  }
  .elementor-723
    .elementor-element.elementor-element-d276f67
    .elementor-heading-title {
    font-size: var(--e-global-typography-7404157-font-size);
    line-height: var(--e-global-typography-7404157-line-height);
    letter-spacing: var(--e-global-typography-7404157-letter-spacing);
  }
  .elementor-723 .elementor-element.elementor-element-c100977 {
    text-align: center;
    font-size: var(--e-global-typography-439e35c-font-size);
    line-height: var(--e-global-typography-439e35c-line-height);
    letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-c100977
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
  .elementor-723
    .elementor-element.elementor-element-0ac5471
    .elementor-button {
    padding: 10px 12px 10px 12px;
  }
  .elementor-723
    .elementor-element.elementor-element-0ac5471
    > .elementor-widget-container {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-bc-flex-widget
    .elementor-723
    .elementor-element.elementor-element-1050207.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-723
    .elementor-element.elementor-element-1050207.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-723
    .elementor-element.elementor-element-1050207.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-723
    .elementor-element.elementor-element-1050207
    > .elementor-element-populated {
    margin: 20px 20px 20px 20px;
  }
  .elementor-723 .elementor-element.elementor-element-8ac0403 {
    text-align: center;
  }
  .elementor-723
    .elementor-element.elementor-element-8ac0403
    .elementor-heading-title {
    font-size: var(--e-global-typography-7404157-font-size);
    line-height: var(--e-global-typography-7404157-line-height);
    letter-spacing: var(--e-global-typography-7404157-letter-spacing);
  }
  .elementor-723 .elementor-element.elementor-element-b84d9d6 {
    text-align: center;
    font-size: var(--e-global-typography-439e35c-font-size);
    line-height: var(--e-global-typography-439e35c-line-height);
    letter-spacing: var(--e-global-typography-439e35c-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-b84d9d6
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-ce9ac9f
    .elementor-button {
    padding: 10px 12px 10px 12px;
  }
  .elementor-723
    .elementor-element.elementor-element-ce9ac9f
    > .elementor-widget-container {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-723 .elementor-element.elementor-element-c61c25c {
    padding: 50px 0px 0px 0px;
  }
  .elementor-723 .elementor-element.elementor-element-f53a2d4 {
    text-align: center;
  }
  .elementor-723 .elementor-element.elementor-element-1c8f363 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-723
    .elementor-element.elementor-element-df146d6
    .elementor-image-box-img {
    margin-bottom: 10px;
  }
  .elementor-723
    .elementor-element.elementor-element-df146d6
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 20%;
  }
  .elementor-723
    .elementor-element.elementor-element-df146d6
    .elementor-image-box-title {
    font-size: var(--e-global-typography-f14ab1d-font-size);
    line-height: var(--e-global-typography-f14ab1d-line-height);
    letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-df146d6
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-11f5c71
    .elementor-image-box-img {
    margin-bottom: 10px;
  }
  .elementor-723
    .elementor-element.elementor-element-11f5c71
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 20%;
  }
  .elementor-723
    .elementor-element.elementor-element-11f5c71
    .elementor-image-box-title {
    font-size: var(--e-global-typography-f14ab1d-font-size);
    line-height: var(--e-global-typography-f14ab1d-line-height);
    letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-11f5c71
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-97a288e
    .elementor-image-box-img {
    margin-bottom: 10px;
  }
  .elementor-723
    .elementor-element.elementor-element-97a288e
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 20%;
  }
  .elementor-723
    .elementor-element.elementor-element-97a288e
    .elementor-image-box-title {
    font-size: var(--e-global-typography-f14ab1d-font-size);
    line-height: var(--e-global-typography-f14ab1d-line-height);
    letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-97a288e
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-8d488d9
    .elementor-image-box-img {
    margin-bottom: 10px;
  }
  .elementor-723
    .elementor-element.elementor-element-8d488d9
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 20%;
  }
  .elementor-723
    .elementor-element.elementor-element-8d488d9
    .elementor-image-box-title {
    font-size: var(--e-global-typography-f14ab1d-font-size);
    line-height: var(--e-global-typography-f14ab1d-line-height);
    letter-spacing: var(--e-global-typography-f14ab1d-letter-spacing);
  }
  .elementor-723
    .elementor-element.elementor-element-8d488d9
    .elementor-image-box-description {
    font-size: var(--e-global-typography-1f329d0-font-size);
    line-height: var(--e-global-typography-1f329d0-line-height);
    letter-spacing: var(--e-global-typography-1f329d0-letter-spacing);
  }
}
