.elementor-533 .elementor-element.elementor-element-c6ecabd {
    padding: 50px 0px;
  }
  .elementor-bc-flex-widget
    .elementor-533
    .elementor-element.elementor-element-55a3963.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-55a3963.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-55a3963.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-533
    .elementor-element.elementor-element-55a3963
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-533 .elementor-element.elementor-element-e0c9f6e {
    text-align: center;
  }
  .elementor-533
    .elementor-element.elementor-element-e0c9f6e
    .elementor-heading-title {
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  }
  .elementor-533 .elementor-element.elementor-element-fc83e29 {
    text-align: center;
  }
  .elementor-533
    .elementor-element.elementor-element-fc83e29
    .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  }
  .elementor-533
    .elementor-element.elementor-element-fc83e29
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-item {
    background-color: var(--e-global-color-3564bdd);
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-content {
    text-align: left;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-image {
    text-align: left;
    max-width: 100%;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-image
    img {
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-content
    .eael-testimonial-user {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-64b331e-font-family), Sans-serif;
    font-size: var(--e-global-typography-64b331e-font-size);
    font-weight: var(--e-global-typography-64b331e-font-weight);
    line-height: var(--e-global-typography-64b331e-line-height);
    letter-spacing: var(--e-global-typography-64b331e-letter-spacing);
    margin: 0px 015px 50px 30px;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-content
    .eael-testimonial-user-company {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-81eec07-font-family), Sans-serif;
    font-size: var(--e-global-typography-81eec07-font-size);
    font-weight: var(--e-global-typography-81eec07-font-weight);
    line-height: var(--e-global-typography-81eec07-line-height);
    letter-spacing: var(--e-global-typography-81eec07-letter-spacing);
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-content
    .eael-testimonial-text {
    color: var(--e-global-color-bb18acf);
    font-family: var(--e-global-typography-4bbaf15-font-family), Sans-serif;
    font-size: var(--e-global-typography-4bbaf15-font-size);
    font-weight: var(--e-global-typography-4bbaf15-font-weight);
    font-style: var(--e-global-typography-4bbaf15-font-style);
    line-height: var(--e-global-typography-4bbaf15-line-height);
    letter-spacing: var(--e-global-typography-4bbaf15-letter-spacing);
    margin: 0px 045px 0px 30px;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-content
    .testimonial-star-rating
    li {
    margin-right: 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-content
    .testimonial-star-rating {
    margin: 0px 0px 10px 30px;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    .eael-testimonial-quote {
    color: var(--e-global-color-497193b);
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    span.eael-testimonial-quote {
    right: 5%;
  }
  .elementor-533
    .elementor-element.elementor-element-e1be67f
    > .elementor-widget-container {
    margin: 0px 15px 0px 0px;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: var(--e-global-color-primary);
  }
  .elementor-533 .elementor-element.elementor-element-e1be67f {
    width: auto;
    max-width: auto;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-item {
    background-color: var(--e-global-color-3564bdd);
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-content {
    text-align: left;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-image {
    text-align: left;
    max-width: 100%;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-image
    img {
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-content
    .eael-testimonial-user {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-64b331e-font-family), Sans-serif;
    font-size: var(--e-global-typography-64b331e-font-size);
    font-weight: var(--e-global-typography-64b331e-font-weight);
    line-height: var(--e-global-typography-64b331e-line-height);
    letter-spacing: var(--e-global-typography-64b331e-letter-spacing);
    margin: 0px 015px 50px 30px;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-content
    .eael-testimonial-user-company {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-81eec07-font-family), Sans-serif;
    font-size: var(--e-global-typography-81eec07-font-size);
    font-weight: var(--e-global-typography-81eec07-font-weight);
    line-height: var(--e-global-typography-81eec07-line-height);
    letter-spacing: var(--e-global-typography-81eec07-letter-spacing);
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-content
    .eael-testimonial-text {
    color: var(--e-global-color-bb18acf);
    font-family: var(--e-global-typography-4bbaf15-font-family), Sans-serif;
    font-size: var(--e-global-typography-4bbaf15-font-size);
    font-weight: var(--e-global-typography-4bbaf15-font-weight);
    font-style: var(--e-global-typography-4bbaf15-font-style);
    line-height: var(--e-global-typography-4bbaf15-line-height);
    letter-spacing: var(--e-global-typography-4bbaf15-letter-spacing);
    margin: 0px 045px 0px 30px;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-content
    .testimonial-star-rating
    li {
    margin-right: 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-content
    .testimonial-star-rating {
    margin: 0px 0px 10px 30px;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    .eael-testimonial-quote {
    color: var(--e-global-color-497193b);
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    span.eael-testimonial-quote {
    right: 5%;
  }
  .elementor-533
    .elementor-element.elementor-element-f99811c
    > .elementor-widget-container {
    margin: 0px 0px 0px 22px;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: var(--e-global-color-primary);
  }
  .elementor-533 .elementor-element.elementor-element-f99811c {
    width: auto;
    max-width: auto;
  }
  .elementor-533
    .elementor-element.elementor-element-7a5b998
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  .elementor-533 .elementor-element.elementor-element-7a5b998 {
    padding: 0px 0px 85px 0px;
  }
  .elementor-bc-flex-widget
    .elementor-533
    .elementor-element.elementor-element-61ab10f.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-61ab10f.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-61ab10f.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-533 .elementor-element.elementor-element-56245e2 {
    text-align: right;
    width: auto;
    max-width: auto;
  }
  .elementor-bc-flex-widget
    .elementor-533
    .elementor-element.elementor-element-6ebd1eb.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-6ebd1eb.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-6ebd1eb.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-533
    .elementor-element.elementor-element-6ebd1eb
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-533 .elementor-element.elementor-element-48754ee {
    width: auto;
    max-width: auto;
  }
  .elementor-bc-flex-widget
    .elementor-533
    .elementor-element.elementor-element-2556ba0.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-2556ba0.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-2556ba0.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-533 .elementor-element.elementor-element-bd5fe1a {
    width: auto;
    max-width: auto;
  }
  .elementor-bc-flex-widget
    .elementor-533
    .elementor-element.elementor-element-b931524.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-b931524.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-b931524.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-533
    .elementor-element.elementor-element-b931524
    > .elementor-element-populated {
    padding: 0px 0px 0px 15px;
  }
  .elementor-533 .elementor-element.elementor-element-a66b034 {
    width: auto;
    max-width: auto;
  }
  .elementor-533 .elementor-element.elementor-element-d627889 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-cf832a6
    > .elementor-container {
    min-height: 27vh;
  }
  .elementor-533
    .elementor-element.elementor-element-cf832a6:not(.elementor-motion-effects-element-type-background),
  .elementor-533
    .elementor-element.elementor-element-cf832a6
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
  }
  .elementor-533 .elementor-element.elementor-element-cf832a6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -123px;
    z-index: 1;
  }
  .elementor-533
    .elementor-element.elementor-element-cf832a6
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-533 .elementor-element.elementor-element-fc9ac17 {
    width: 120%;
    max-width: 120%;
    bottom: -2vh;
  }
  body:not(.rtl) .elementor-533 .elementor-element.elementor-element-fc9ac17 {
    left: -7.2vw;
  }
  body.rtl .elementor-533 .elementor-element.elementor-element-fc9ac17 {
    right: -7.2vw;
  }
  .elementor-bc-flex-widget
    .elementor-533
    .elementor-element.elementor-element-854280d.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-854280d.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-533 .elementor-element.elementor-element-629c154 {
    text-align: left;
  }
  .elementor-533
    .elementor-element.elementor-element-629c154
    .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  }
  .elementor-533
    .elementor-element.elementor-element-629c154
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-group {
    margin-bottom: 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-group.recaptcha_v3-bottomleft,
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-form-fields-wrapper {
    margin-bottom: -0px;
  }
  body.rtl
    .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-labels-inline
    .elementor-field-group
    > label {
    padding-left: 0px;
  }
  body:not(.rtl)
    .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-labels-inline
    .elementor-field-group
    > label {
    padding-right: 0px;
  }
  body
    .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-labels-above
    .elementor-field-group
    > label {
    padding-bottom: 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-type-html {
    padding-bottom: 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-group
    .elementor-field {
    color: var(--e-global-color-bb18acf);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-group
    .elementor-field,
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-subgroup
    label {
    font-family: var(--e-global-typography-78b4420-font-family), Sans-serif;
    font-size: var(--e-global-typography-78b4420-font-size);
    line-height: var(--e-global-typography-78b4420-line-height);
    letter-spacing: var(--e-global-typography-78b4420-letter-spacing);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-group:not(.elementor-field-type-upload)
    .elementor-field:not(.elementor-select-wrapper) {
    background-color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-group
    .elementor-select-wrapper
    select {
    background-color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-field-group
    .elementor-select-wrapper::before {
    color: var(--e-global-color-accent);
  }
  .elementor-533 .elementor-element.elementor-element-c50610c .elementor-button {
    font-family: var(--e-global-typography-f8d70a0-font-family), Sans-serif;
    font-size: var(--e-global-typography-f8d70a0-font-size);
    font-weight: var(--e-global-typography-f8d70a0-font-weight);
    text-transform: var(--e-global-typography-f8d70a0-text-transform);
    line-height: var(--e-global-typography-f8d70a0-line-height);
    letter-spacing: var(--e-global-typography-f8d70a0-letter-spacing);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .e-form__buttons__wrapper__button-next {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-text);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-button[type="submit"] {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-text);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-button[type="submit"]
    svg
    * {
    fill: var(--e-global-color-accent);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .e-form__buttons__wrapper__button-previous {
    color: var(--e-global-color-accent);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .e-form__buttons__wrapper__button-next:hover {
    background-color: var(--e-global-color-cc98247);
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-cc98247);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-button[type="submit"]:hover {
    background-color: var(--e-global-color-cc98247);
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-cc98247);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .elementor-button[type="submit"]:hover
    svg
    * {
    fill: var(--e-global-color-accent);
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
  }
  .elementor-533 .elementor-element.elementor-element-c50610c {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
  }
  .elementor-533
    .elementor-element.elementor-element-c50610c
    > .elementor-widget-container {
    padding: 0px 50px 0px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-66a17a8:not(.elementor-motion-effects-element-type-background),
  .elementor-533
    .elementor-element.elementor-element-66a17a8
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
  }
  .elementor-533 .elementor-element.elementor-element-66a17a8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 180px 0px 30px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-66a17a8
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-533
    .elementor-element.elementor-element-c5e3561
    .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  }
  .elementor-533 .elementor-element.elementor-element-802eae0 {
    color: var(--e-global-color-dbdc090);
    font-family: var(--e-global-typography-018274b-font-family), Sans-serif;
    font-size: var(--e-global-typography-018274b-font-size);
    font-weight: var(--e-global-typography-018274b-font-weight);
    line-height: var(--e-global-typography-018274b-line-height);
    letter-spacing: var(--e-global-typography-018274b-letter-spacing);
  }
  .elementor-533
    .elementor-element.elementor-element-06c3970
    > .elementor-element-populated {
    padding: 0px 0px 0px 95px;
  }
  .elementor-533
    .elementor-element.elementor-element-4f18b52
    .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px / 2);
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px / 2);
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(8px / 2);
    margin-left: calc(8px / 2);
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px / 2);
    margin-left: calc(-8px / 2);
  }
  body.rtl
    .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-8px / 2);
  }
  body:not(.rtl)
    .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-8px / 2);
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-icon
    i {
    font-size: 14px;
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-icon
    svg {
    width: 14px;
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-text {
    color: var(--e-global-color-dbdc090);
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-item:hover
    .elementor-icon-list-text {
    color: var(--e-global-color-primary);
  }
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-item,
  .elementor-533
    .elementor-element.elementor-element-a00eeab
    .elementor-icon-list-item
    a {
    font-family: var(--e-global-typography-6568fcc-font-family), Sans-serif;
    font-size: var(--e-global-typography-6568fcc-font-size);
    font-weight: var(--e-global-typography-6568fcc-font-weight);
    line-height: var(--e-global-typography-6568fcc-line-height);
    letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
  }
  .elementor-533
    .elementor-element.elementor-element-6ca03d2
    > .elementor-element-populated {
    padding: 0px 0px 0px 95px;
  }
  .elementor-533
    .elementor-element.elementor-element-8c86a00
    .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px / 2);
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px / 2);
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(8px / 2);
    margin-left: calc(8px / 2);
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px / 2);
    margin-left: calc(-8px / 2);
  }
  body.rtl
    .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-8px / 2);
  }
  body:not(.rtl)
    .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-8px / 2);
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-icon
    i {
    font-size: 14px;
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-icon
    svg {
    width: 14px;
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-text {
    color: var(--e-global-color-dbdc090);
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-item:hover
    .elementor-icon-list-text {
    color: var(--e-global-color-primary);
  }
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-item,
  .elementor-533
    .elementor-element.elementor-element-0a997dd
    .elementor-icon-list-item
    a {
    font-family: var(--e-global-typography-6568fcc-font-family), Sans-serif;
    font-size: var(--e-global-typography-6568fcc-font-size);
    font-weight: var(--e-global-typography-6568fcc-font-weight);
    line-height: var(--e-global-typography-6568fcc-line-height);
    letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
  }
  .elementor-533
    .elementor-element.elementor-element-f3c9385
    > .elementor-element-populated {
    padding: 0px 0px 0px 95px;
  }
  .elementor-533
    .elementor-element.elementor-element-70d6e6a
    .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  }
  .elementor-533 .elementor-element.elementor-element-d61244c {
    color: var(--e-global-color-dbdc090);
    font-family: var(--e-global-typography-018274b-font-family), Sans-serif;
    font-size: var(--e-global-typography-018274b-font-size);
    font-weight: var(--e-global-typography-018274b-font-weight);
    line-height: var(--e-global-typography-018274b-line-height);
    letter-spacing: var(--e-global-typography-018274b-letter-spacing);
  }
  .elementor-533
    .elementor-element.elementor-element-41fff29:not(.elementor-motion-effects-element-type-background),
  .elementor-533
    .elementor-element.elementor-element-41fff29
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
  }
  .elementor-533 .elementor-element.elementor-element-41fff29 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var(--e-global-color-a8d5a57);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px 5px 0px;
  }
  .elementor-533
    .elementor-element.elementor-element-41fff29
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-bc-flex-widget
    .elementor-533
    .elementor-element.elementor-element-a3cd047.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-a3cd047.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-a3cd047
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-533 .elementor-element.elementor-element-6f71d5e {
    color: var(--e-global-color-dbdc090);
    font-family: var(--e-global-typography-6568fcc-font-family), Sans-serif;
    font-size: var(--e-global-typography-6568fcc-font-size);
    font-weight: var(--e-global-typography-6568fcc-font-weight);
    line-height: var(--e-global-typography-6568fcc-line-height);
    letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
  }
  .elementor-533
    .elementor-element.elementor-element-6f71d5e
    > .elementor-widget-container {
    padding: 10px 0px 0px 0px;
  }
  .elementor-bc-flex-widget
    .elementor-533
    .elementor-element.elementor-element-56f61b4.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-56f61b4.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-533
    .elementor-element.elementor-element-56f61b4.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-533 .elementor-element.elementor-element-cfade51 {
    color: var(--e-global-color-dbdc090);
    font-family: var(--e-global-typography-6568fcc-font-family), Sans-serif;
    font-size: var(--e-global-typography-6568fcc-font-size);
    font-weight: var(--e-global-typography-6568fcc-font-weight);
    line-height: var(--e-global-typography-6568fcc-line-height);
    letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    width: auto;
    max-width: auto;
  }
  .elementor-533
    .elementor-element.elementor-element-cfade51
    > .elementor-widget-container {
    padding: 10px 0px 0px 0px;
  }
  .elementor-533 .elementor-element.elementor-element-6ea7109 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
    width: auto;
    max-width: auto;
  }
  .elementor-533
    .elementor-element.elementor-element-6ea7109
    .elementor-widget-container {
    text-align: center;
  }
  .elementor-533
    .elementor-element.elementor-element-6ea7109
    .elementor-social-icon {
    background-color: var(--e-global-color-497193b);
  }
  .elementor-533
    .elementor-element.elementor-element-6ea7109
    .elementor-social-icon
    i {
    color: var(--e-global-color-dbdc090);
  }
  .elementor-533
    .elementor-element.elementor-element-6ea7109
    .elementor-social-icon
    svg {
    fill: var(--e-global-color-dbdc090);
  }
  .elementor-533
    .elementor-element.elementor-element-6ea7109
    .elementor-social-icon:hover
    i {
    color: var(--e-global-color-primary);
  }
  .elementor-533
    .elementor-element.elementor-element-6ea7109
    .elementor-social-icon:hover
    svg {
    fill: var(--e-global-color-primary);
  }
  @media (max-width: 1024px) {
    .elementor-533 .elementor-element.elementor-element-c6ecabd {
      padding: 80px 0px 30px 0px;
    }
    .elementor-bc-flex-widget
      .elementor-533
      .elementor-element.elementor-element-55a3963.elementor-column
      .elementor-widget-wrap {
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-55a3963.elementor-column.elementor-element[data-element_type="column"]
      > .elementor-widget-wrap.elementor-element-populated {
      align-content: center;
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-55a3963.elementor-column
      > .elementor-widget-wrap {
      justify-content: center;
    }
    .elementor-533
      .elementor-element.elementor-element-e1be67f
      .eael-testimonial-content
      .eael-testimonial-user {
      font-size: var(--e-global-typography-64b331e-font-size);
      line-height: var(--e-global-typography-64b331e-line-height);
      letter-spacing: var(--e-global-typography-64b331e-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-e1be67f
      .eael-testimonial-content
      .eael-testimonial-user-company {
      font-size: var(--e-global-typography-81eec07-font-size);
      line-height: var(--e-global-typography-81eec07-line-height);
      letter-spacing: var(--e-global-typography-81eec07-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-e1be67f
      .eael-testimonial-content
      .eael-testimonial-text {
      font-size: var(--e-global-typography-4bbaf15-font-size);
      line-height: var(--e-global-typography-4bbaf15-line-height);
      letter-spacing: var(--e-global-typography-4bbaf15-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-e1be67f
      > .elementor-widget-container {
      margin: 0px 0px 30px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-f99811c
      .eael-testimonial-content
      .eael-testimonial-user {
      font-size: var(--e-global-typography-64b331e-font-size);
      line-height: var(--e-global-typography-64b331e-line-height);
      letter-spacing: var(--e-global-typography-64b331e-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-f99811c
      .eael-testimonial-content
      .eael-testimonial-user-company {
      font-size: var(--e-global-typography-81eec07-font-size);
      line-height: var(--e-global-typography-81eec07-line-height);
      letter-spacing: var(--e-global-typography-81eec07-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-f99811c
      .eael-testimonial-content
      .eael-testimonial-text {
      font-size: var(--e-global-typography-4bbaf15-font-size);
      line-height: var(--e-global-typography-4bbaf15-line-height);
      letter-spacing: var(--e-global-typography-4bbaf15-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-f99811c
      > .elementor-widget-container {
      margin: 0px 0px 30px 0px;
    }
    .elementor-533 .elementor-element.elementor-element-7a5b998 {
      padding: 0px 0px 50px 0px;
    }
    .elementor-533 .elementor-element.elementor-element-d627889 {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 50px 0px 50px;
    }
    .elementor-533
      .elementor-element.elementor-element-2b26321
      > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-cf832a6
      > .elementor-container {
      min-height: 18vh;
    }
    .elementor-533 .elementor-element.elementor-element-cf832a6 {
      padding: 0px 30px 30px 30px;
    }
    .elementor-533 .elementor-element.elementor-element-629c154 {
      text-align: center;
    }
    .elementor-533
      .elementor-element.elementor-element-c50610c
      .elementor-field-group
      .elementor-field,
    .elementor-533
      .elementor-element.elementor-element-c50610c
      .elementor-field-subgroup
      label {
      font-size: var(--e-global-typography-78b4420-font-size);
      line-height: var(--e-global-typography-78b4420-line-height);
      letter-spacing: var(--e-global-typography-78b4420-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-c50610c
      .elementor-button {
      font-size: var(--e-global-typography-f8d70a0-font-size);
      line-height: var(--e-global-typography-f8d70a0-line-height);
      letter-spacing: var(--e-global-typography-f8d70a0-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-c50610c
      > .elementor-widget-container {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 50px;
    }
    .elementor-533 .elementor-element.elementor-element-66a17a8 {
      padding: 180px 0px 20px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-8374783
      > .elementor-element-populated {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 20px;
    }
    .elementor-533 .elementor-element.elementor-element-802eae0 {
      font-size: var(--e-global-typography-018274b-font-size);
      line-height: var(--e-global-typography-018274b-line-height);
      letter-spacing: var(--e-global-typography-018274b-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-06c3970
      > .elementor-element-populated {
      padding: 0px 0px 0px 20px;
    }
    .elementor-533
      .elementor-element.elementor-element-a00eeab
      .elementor-icon-list-item,
    .elementor-533
      .elementor-element.elementor-element-a00eeab
      .elementor-icon-list-item
      a {
      font-size: var(--e-global-typography-6568fcc-font-size);
      line-height: var(--e-global-typography-6568fcc-line-height);
      letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-6ca03d2
      > .elementor-element-populated {
      padding: 0px 0px 0px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-0a997dd
      .elementor-icon-list-item,
    .elementor-533
      .elementor-element.elementor-element-0a997dd
      .elementor-icon-list-item
      a {
      font-size: var(--e-global-typography-6568fcc-font-size);
      line-height: var(--e-global-typography-6568fcc-line-height);
      letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-f3c9385
      > .elementor-element-populated {
      padding: 0px 0px 0px 0px;
    }
    .elementor-533 .elementor-element.elementor-element-d61244c {
      font-size: var(--e-global-typography-018274b-font-size);
      line-height: var(--e-global-typography-018274b-line-height);
      letter-spacing: var(--e-global-typography-018274b-letter-spacing);
    }
    .elementor-533 .elementor-element.elementor-element-41fff29 {
      padding: 0px 20px 0px 20px;
    }
    .elementor-533 .elementor-element.elementor-element-6f71d5e {
      font-size: var(--e-global-typography-6568fcc-font-size);
      line-height: var(--e-global-typography-6568fcc-line-height);
      letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    }
    .elementor-533 .elementor-element.elementor-element-cfade51 {
      font-size: var(--e-global-typography-6568fcc-font-size);
      line-height: var(--e-global-typography-6568fcc-line-height);
      letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    }
    .elementor-533 .elementor-element.elementor-element-6ea7109 {
      --icon-size: 12px;
    }
  }
  @media (max-width: 767px) {
    .elementor-533 .elementor-element.elementor-element-c6ecabd {
      padding: 50px 0px 30px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-55a3963
      > .elementor-element-populated {
      padding: 0px 20px 0px 20px;
    }
    .elementor-533
      .elementor-element.elementor-element-fc83e29
      > .elementor-widget-container {
      padding: 0px 0px 0px 2px;
    }
    .elementor-533
      .elementor-element.elementor-element-e1be67f
      .eael-testimonial-content
      .eael-testimonial-user {
      font-size: var(--e-global-typography-64b331e-font-size);
      line-height: var(--e-global-typography-64b331e-line-height);
      letter-spacing: var(--e-global-typography-64b331e-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-e1be67f
      .eael-testimonial-content
      .eael-testimonial-user-company {
      font-size: var(--e-global-typography-81eec07-font-size);
      line-height: var(--e-global-typography-81eec07-line-height);
      letter-spacing: var(--e-global-typography-81eec07-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-e1be67f
      .eael-testimonial-content
      .eael-testimonial-text {
      font-size: var(--e-global-typography-4bbaf15-font-size);
      line-height: var(--e-global-typography-4bbaf15-line-height);
      letter-spacing: var(--e-global-typography-4bbaf15-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-f99811c
      .eael-testimonial-content
      .eael-testimonial-user {
      font-size: var(--e-global-typography-64b331e-font-size);
      line-height: var(--e-global-typography-64b331e-line-height);
      letter-spacing: var(--e-global-typography-64b331e-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-f99811c
      .eael-testimonial-content
      .eael-testimonial-user-company {
      font-size: var(--e-global-typography-81eec07-font-size);
      line-height: var(--e-global-typography-81eec07-line-height);
      letter-spacing: var(--e-global-typography-81eec07-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-f99811c
      .eael-testimonial-content
      .eael-testimonial-text {
      font-size: var(--e-global-typography-4bbaf15-font-size);
      line-height: var(--e-global-typography-4bbaf15-line-height);
      letter-spacing: var(--e-global-typography-4bbaf15-letter-spacing);
    }
    .elementor-bc-flex-widget
      .elementor-533
      .elementor-element.elementor-element-61ab10f.elementor-column
      .elementor-widget-wrap {
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-61ab10f.elementor-column.elementor-element[data-element_type="column"]
      > .elementor-widget-wrap.elementor-element-populated {
      align-content: center;
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-61ab10f.elementor-column
      > .elementor-widget-wrap {
      justify-content: center;
    }
    .elementor-533 .elementor-element.elementor-element-56245e2 {
      text-align: center;
    }
    .elementor-533
      .elementor-element.elementor-element-56245e2
      > .elementor-widget-container {
      padding: 0px 0px 020px 0px;
    }
    .elementor-bc-flex-widget
      .elementor-533
      .elementor-element.elementor-element-6ebd1eb.elementor-column
      .elementor-widget-wrap {
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-6ebd1eb.elementor-column.elementor-element[data-element_type="column"]
      > .elementor-widget-wrap.elementor-element-populated {
      align-content: center;
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-6ebd1eb.elementor-column
      > .elementor-widget-wrap {
      justify-content: center;
    }
    .elementor-533
      .elementor-element.elementor-element-48754ee
      > .elementor-widget-container {
      padding: 0px 0px 20px 0px;
    }
    .elementor-bc-flex-widget
      .elementor-533
      .elementor-element.elementor-element-2556ba0.elementor-column
      .elementor-widget-wrap {
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-2556ba0.elementor-column.elementor-element[data-element_type="column"]
      > .elementor-widget-wrap.elementor-element-populated {
      align-content: center;
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-2556ba0.elementor-column
      > .elementor-widget-wrap {
      justify-content: center;
    }
    .elementor-533
      .elementor-element.elementor-element-bd5fe1a
      > .elementor-widget-container {
      padding: 0px 0px 20px 0px;
    }
    .elementor-bc-flex-widget
      .elementor-533
      .elementor-element.elementor-element-b931524.elementor-column
      .elementor-widget-wrap {
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-b931524.elementor-column.elementor-element[data-element_type="column"]
      > .elementor-widget-wrap.elementor-element-populated {
      align-content: center;
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-b931524.elementor-column
      > .elementor-widget-wrap {
      justify-content: center;
    }
    .elementor-533 .elementor-element.elementor-element-d627889 {
      padding: 0px 0px 0px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-2b26321
      > .elementor-element-populated {
      padding: 0px 0px 0px 0px;
    }
    .elementor-533 .elementor-element.elementor-element-cf832a6 {
      padding: 30px 20px 30px 20px;
    }
    .elementor-533 .elementor-element.elementor-element-629c154 {
      text-align: center;
    }
    .elementor-533
      .elementor-element.elementor-element-629c154
      > .elementor-widget-container {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-c50610c
      .elementor-field-group
      .elementor-field,
    .elementor-533
      .elementor-element.elementor-element-c50610c
      .elementor-field-subgroup
      label {
      font-size: var(--e-global-typography-78b4420-font-size);
      line-height: var(--e-global-typography-78b4420-line-height);
      letter-spacing: var(--e-global-typography-78b4420-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-c50610c
      .elementor-button {
      font-size: var(--e-global-typography-f8d70a0-font-size);
      line-height: var(--e-global-typography-f8d70a0-line-height);
      letter-spacing: var(--e-global-typography-f8d70a0-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-c50610c
      > .elementor-widget-container {
      padding: 0px 0px 0px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-8374783
      > .elementor-element-populated {
      padding: 0px 0px 0px 0px;
    }
    .elementor-533 .elementor-element.elementor-element-c5e3561 {
      text-align: center;
    }
    .elementor-533 .elementor-element.elementor-element-802eae0 {
      text-align: center;
      font-size: var(--e-global-typography-018274b-font-size);
      line-height: var(--e-global-typography-018274b-line-height);
      letter-spacing: var(--e-global-typography-018274b-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-802eae0
      > .elementor-widget-container {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
    .elementor-533
      .elementor-element.elementor-element-a00eeab
      .elementor-icon-list-item,
    .elementor-533
      .elementor-element.elementor-element-a00eeab
      .elementor-icon-list-item
      a {
      font-size: var(--e-global-typography-6568fcc-font-size);
      line-height: var(--e-global-typography-6568fcc-line-height);
      letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    }
    .elementor-533
      .elementor-element.elementor-element-0a997dd
      .elementor-icon-list-item,
    .elementor-533
      .elementor-element.elementor-element-0a997dd
      .elementor-icon-list-item
      a {
      font-size: var(--e-global-typography-6568fcc-font-size);
      line-height: var(--e-global-typography-6568fcc-line-height);
      letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    }
    .elementor-533 .elementor-element.elementor-element-d61244c {
      font-size: var(--e-global-typography-018274b-font-size);
      line-height: var(--e-global-typography-018274b-line-height);
      letter-spacing: var(--e-global-typography-018274b-letter-spacing);
    }
    .elementor-533 .elementor-element.elementor-element-6f71d5e {
      text-align: center;
      font-size: var(--e-global-typography-6568fcc-font-size);
      line-height: var(--e-global-typography-6568fcc-line-height);
      letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    }
    .elementor-bc-flex-widget
      .elementor-533
      .elementor-element.elementor-element-56f61b4.elementor-column
      .elementor-widget-wrap {
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-56f61b4.elementor-column.elementor-element[data-element_type="column"]
      > .elementor-widget-wrap.elementor-element-populated {
      align-content: center;
      align-items: center;
    }
    .elementor-533
      .elementor-element.elementor-element-56f61b4.elementor-column
      > .elementor-widget-wrap {
      justify-content: center;
    }
    .elementor-533 .elementor-element.elementor-element-cfade51 {
      font-size: var(--e-global-typography-6568fcc-font-size);
      line-height: var(--e-global-typography-6568fcc-line-height);
      letter-spacing: var(--e-global-typography-6568fcc-letter-spacing);
    }
  }
  @media (min-width: 768px) {
    .elementor-533 .elementor-element.elementor-element-55a3963 {
      width: 100%;
    }
    .elementor-533 .elementor-element.elementor-element-61ab10f {
      width: 49.211%;
    }
    .elementor-533 .elementor-element.elementor-element-6ebd1eb {
      width: 18.683%;
    }
    .elementor-533 .elementor-element.elementor-element-2556ba0 {
      width: 17.281%;
    }
    .elementor-533 .elementor-element.elementor-element-b931524 {
      width: 14.803%;
    }
    .elementor-533 .elementor-element.elementor-element-2337618 {
      width: 40%;
    }
    .elementor-533 .elementor-element.elementor-element-854280d {
      width: 60%;
    }
  }
  @media (max-width: 1024px) and (min-width: 768px) {
    .elementor-533 .elementor-element.elementor-element-61ab10f {
      width: 25%;
    }
    .elementor-533 .elementor-element.elementor-element-6ebd1eb {
      width: 25%;
    }
    .elementor-533 .elementor-element.elementor-element-2556ba0 {
      width: 25%;
    }
    .elementor-533 .elementor-element.elementor-element-b931524 {
      width: 25%;
    }
    .elementor-533 .elementor-element.elementor-element-854280d {
      width: 100%;
    }
  }
  